/.vscode
/2.py
/antique.txt
/business.db
/causes.csv
/causes.txt
/GitHub Desktop.lnk
/main.py
/one.py
/one.ui
/PyCharm Community Edition 2020.3.2 x64.lnk
/Qt Designer.lnk
/ri.py
/SQLiteStudio.exe.lnk
/Thumbs.db
/to_bye.txt
/ui_file.py
/Visual Studio Code.lnk
/Wing Personal 7.2.lnk
/yandex-lyceum
/__pycache__
/бла-бла-ген
/Обзор курса — Основы промышленного программирования - Д21 — Яндекс.Лицей.url